### To establish connection between mysql and python IDE install package

In [56]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in d:\anaconda\envs\ml\lib\site-packages (8.0.28)
Requirement already satisfied: protobuf>=3.0.0 in d:\anaconda\envs\ml\lib\site-packages (from mysql-connector-python) (3.17.1)
Requirement already satisfied: six>=1.9 in d:\anaconda\envs\ml\lib\site-packages (from protobuf>=3.0.0->mysql-connector-python) (1.15.0)

### Establish connectio between mysql and python IDE and show existing databases

In [57]:
import mysql.connector as connection

try:
    mydb = connection.connect(host="localhost",user="root", passwd="mysql",use_pure=True)
    # check if the connection is established

    query = "SHOW DATABASES"

    cursor = mydb.cursor() #create a cursor to execute queries
    cursor.execute(query)
    #print(cursor.fetchall())

except Exception as e:
    mydb.close()
    print(str(e))

In [58]:
import mysql.connector as connection

In [59]:
conn = connection.connect(host="localhost",user="root", passwd="mysql",use_pure=True)

In [60]:
cur = conn.cursor()

### Create a database with name "firstDB"

In [ ]:
cur.execute("create database firstDB")

In [62]:
res = cur.fetchall()

In [ ]:
res

In [64]:
for i in res :
    print(i[0])

In [65]:
import mysql.connector as connection

try:
    mydb = connection.connect(host="localhost", user="root", passwd="mysql",use_pure=True)
    # check if the connection is established
    print(mydb.is_connected())

    query = "Create database Student;"
    cursor = mydb.cursor() #create a cursor to execute queries
    cursor.execute(query)
    print("Database Created!!")
    mydb.close()
except Exception as e:
    mydb.close()
    print(str(e))

True
1007 (HY000): Can't create database 'student'; database exists

In [66]:
import mysql.connector as connection

try:
    mydb = connection.connect(host="localhost", database = 'firstDB',user="root", passwd="mysql",use_pure=True)
    # check if the connection is established
    print(mydb.is_connected())

    query = "CREATE TABLE StudentDetails (Studentid INT(10) AUTO_INCREMENT PRIMARY KEY,FirstName VARCHAR(60)," \
            "LastName VARCHAR(60), RegistrationDate DATE,Class Varchar(20), Section Varchar(10))"

    cursor = mydb.cursor() #create a cursor to execute queries
    cursor.execute(query)
    print("Table Created!!")
    mydb.close()
except Exception as e:
    mydb.close()
    print(str(e))

True
1050 (42S01): Table 'studentdetails' already exists

In [67]:
 mydb = connection.connect(host="localhost", database = 'firstDB',user="root", passwd="mysql",use_pure=True)

In [68]:
mydb.is_connected()

True

In [ ]:
cur = mydb.cursor()
cur.execute("create table test(x1 INT(5) , x2 VARCHAR(20) ,x3 DATE)")
mydb.close()

In [70]:
import mysql.connector as connection

try:
    mydb = connection.connect(host="localhost", database = 'Student',user="root", passwd="mysql",use_pure=True)
    # check if the connection is established
    print(mydb.is_connected())
    query = "INSERT INTO StudentDetails VALUES ('1132','Sachin','Kumar','1997-11-11','Eleventh','A')"

    cursor = mydb.cursor() #create a cursor to execute queries
    cursor.execute(query)
    print("Values inserted into the table!!")
    mydb.commit()
    mydb.close()
except Exception as e:
    mydb.close()
    print(str(e))

True
1062 (23000): Duplicate entry '1132' for key 'studentdetails.PRIMARY'

In [71]:
 mydb = connection.connect(host="localhost", database = 'firstDB',user="root", passwd="mysql",use_pure=True)

In [72]:
cur = mydb.cursor()

In [73]:
cur.execute("insert into test values(4564,'gou' , '2021-05-15')") #yyyy-mm-dd

In [74]:
mydb.commit()

In [75]:
cur.execute("insert into test values(4545,'firstDB' , '2021-05-15')")
cur.execute("insert into test values(4545,'sdd' , '2021-05-15')")
cur.execute("insert into test values(4545,'fgs' , '2021-05-15')")
cur.execute("insert into test values(4545,'sudhedddfgd' , '2021-05-15')")
cur.execute("insert into test values(4545,'qwe' , '2021-05-15')")

In [76]:
import mysql.connector as connection


try:
    mydb = connection.connect(host="localhost", database = 'GlassData',user="root", passwd="mysql",use_pure=True)
    #check if the connection is established
    print(mydb.is_connected())
    query = "Select * from GlassData;"
    cursor = mydb.cursor() #create a cursor to execute queries
    cursor.execute(query)
    for result in cursor.fetchall():
        print(result)
    mydb.close() #close the connection


except Exception as e:
    #mydb.close()
    print(str(e))

True

In [ ]:
cur1 = mydb.cursor()
cur1.execute("select * from test")

In [79]:
for i in cur1.fetchall():
    print(i)

In [ ]:
cur = mydb.cursor()
cur.execute("select x1, x2 from test")

In [ ]:
for i in cur.fetchall():
    print(i)

In [ ]:
import mysql.connector as connection
import pandas as pandas

try:

    mydb = connection.connect(host="localhost", database='GlassData', user="root", passwd="mysql", use_pure=True)
    # check if the connection is established
    print(mydb.is_connected())
    query = "Select * from GlassData;"
    result_dataFrame = pandas.read_sql(query,mydb)
    print(result_dataFrame)

    mydb.close()  # close the connection

except Exception as e:
    #mydb.close()
    print(str(e))

In [ ]:
import pandas as pd

In [ ]:
mydb

In [ ]:
a = pd.read_sql("select x3,x1 from test",mydb)

In [ ]:
a.to_csv("mydata.csv")

In [ ]:
mydb = connection.connect(host="localhost", database='firstDB', user="root", passwd="mysql", use_pure=True)
mydb

In [ ]:
cur = mydb.cursor()
cur.execute("create table mydata(n1 int(20) , n2 varchar(20) , n3 date)")

In [ ]:
data = pd.read_csv('mydata.csv')
data

In [ ]:
data1 = pd.read_sql('select * from test' , mydb)

In [ ]:
data1.to_sql('mydata1',mydb)

In [ ]:
import mysql.connector as connection
import pandas as pandas
import csv

try:
    mydb = connection.connect(host="localhost", user="root", passwd="mysql",use_pure=True)
    #check if the connection is established
    print(mydb.is_connected())
    #create a new database
    query = "Create database GlassData;"
    cursor = mydb.cursor() #create a cursor to execute queries
    cursor.execute(query)
    print("Database Created!!")
    mydb.close() #close the connection

    #Establish a new connection to the database created above
    mydb = connection.connect(host="localhost", database = 'GlassData',user="root", passwd="mysql", use_pure=True)

    #create a new table to store glass data
    query = "CREATE TABLE IF NOT EXISTS GlassData (Index_Number INT(10),RI float(10,5), Na float(10,5), Mg float(10,5),Al float(10,5)," \
            " Si float(10,5), K float(10,5), Ca float(10,5), Ba float(10,5), Fe float(10,5), Class INT(5))"
    cursor = mydb.cursor()  # create a cursor to execute queries
    cursor.execute(query)
    print("Table Created!!")

    #read from the file
    with open('glass.data', "r") as f:
        next(f)
        glass_data = csv.reader(f, delimiter="\n")
        for line in enumerate(glass_data):
            for list_ in (line[1]):
                cursor.execute('INSERT INTO GlassData values ({values})'.format(values=(list_)))
    print("Values inserted!!")
    mydb.commit()
    cursor.close()
    mydb.close()

except Exception as e:
    #mydb.close()
    print(str(e))

In [ ]:
import mysql.connector as connection
import pandas as pandas
import csv
mydb = connection.connect(host="localhost", user="root", passwd="mysql",use_pure=True)

In [ ]:
cur = mydb.cursor()
cur.execute("CREATE TABLE  firstDB.GlassData1 (Index_Number INT(10),RI float(10,5), Na float(10,5), Mg float(10,5),Al float(10,5)," \
            " Si float(10,5), K float(10,5), Ca float(10,5), Ba float(10,5), Fe float(10,5), Class INT(5))")

In [ ]:
with open('glass.data',"r") as data :
    next(data)
    data_csv = csv.reader(data, delimiter= "\n")
    print(data_csv)
    for i in enumerate(data_csv):
        print(i)
        for j in i[1] :
            cur.execute('insert into firstDB.GlassData1 values ({data})'.format(data=(j)))
    print("all the data inserted ")
mydb.commit()

In [ ]:
!ls

In [ ]:
with open('glass.data',"r") as data :
    next(data)
    data_csv = csv.reader(data, delimiter= "\n")
    print(data_csv)
    for i in enumerate(data_csv):
        print(i)
        for j in i[1] :
            print(type(j))
            cur.execute('insert into firstDB.GlassData1 values ({data})'.format(data=(j)))
    print("all the data inserted ")
mydb.commit()

In [ ]:
with open('glass.data',"r") as data :
    next(data)
    data_csv = csv.reader(data, delimiter= "\n")
    print(data_csv)
    for j in data_csv :
        cur.execute(f'insert into firstDB.GlassData values (str(j[0]))')
    print("all the data inserted ")
mydb.commit()